<form (ngSubmit)="addTodo()" [formGroup]="todoForm" fxLayout="row" fxLayoutAlign="space-evenly center" >
  <span></span>
  <span></span>
  <span></span>
  <mat-form-field appearance="standard"  color="accent" >
    <mat-label>Add title</mat-label>
    <input autocomplete="off" formControlName="title" matInput placeholder="Add note ...">
  </mat-form-field>
  <mat-form-field appearance="standard"  color="accent" >
    <mat-label>Add description</mat-label>
    <input autocomplete="off" formControlName="description" matInput placeholder="Add note ...">
    <button [disabled]='todoForm.invalid' mat-icon-button matSuffix  ><mat-icon>send</mat-icon></button>
  </mat-form-field>
  <span></span>
  <span></span>
  <span></span>
</form>
