<mat-toolbar color="primary">
  <img src="../assets/images/logo.svg" id="home" routerLink='/home' alt="logo" height="30px">
  <span routerLink='/home' id="home" mat-button>Naut'kou</span>
  <span class="spacer"></span>
  <button mat-icon-button routerLink='/login'>
    <mat-icon>login</mat-icon>
  </button>
  <button mat-icon-button routerLink='/register'>
    <mat-icon>person_add_alt</mat-icon>
  </button>
  <button mat-icon-button (click)="logOut()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
