:host {
  .spacer {
    flex: 1 1 auto;
  }
  #home:hover {
    cursor: pointer;
  }
  .profilPicture {
    margin:0px 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #email {
    font-weight: lighter;
    font-size:medium;
    margin: 0;
    padding: 0;
    line-height:normal
  }
}
